@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .header__content {
        padding: 20px 0;
    }
    
    .commerce__link, .highly__card, .footer__card {
        margin: 0 15px;
    }
    
    .highly__title {
        font-size: 20px;
        margin-top: 20px;
    }
    
    .footer__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    
    .nav__burger {
        display: block;
        order: 1;
    }
    
    .menu {
        position: absolute;
        top: 100%;
        background: #fff;
        right: 20px;
        flex-direction: column;
        min-width: 200px;
        transform: scaleY(0);
        transition: 0.5s;
        transform-origin: 50% 0;
        color: #41A28E;
    }
    
    .nav__burger:focus ~ .menu {
        transform: scaleY(1);
    }
    
    .commerce__content, .highly__content, .footer__content {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .commerce__link, .highly__card, .footer__card {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
    .header__title, .info__title, .project__title {
        font-size: 40px;
    }
    
    .commerce__link, .highly__card, .footer__card {
        margin-right: 0;
        margin-left: 0;
        max-width: 240px;
    }
    
    .commerce__content, .highly__content, .footer__content {
        justify-content: space-between;
    }
    
    .commerce__content, .highly {
        margin-bottom: 0;
    }
    
    .highly__content {
        margin-top: 40px;
    }
    
    .project__link {
        padding: 15px 25px;
    }
}

@media (max-width: 540px) {
    .nav__content {
        flex-wrap: wrap;
    }
    
    .logo {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .header__content, .project, .footer {
        text-align: center;
    }
    
    .commerce__content, .highly__content, .footer__content {
        flex-direction: column;
        align-items: center;
    }
    
    .commerce__link, .highly__card, .footer__card {
        max-width: 255px;
    }
    
    .header__title, .info__title, .project__title {
        font-size: 30px;
    }
    
    .project {
        padding: 50px;
    }
    
    .footer__link_my, .footer__sevice {
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .footer__pay {
        margin: 10px;
    }
}

@media (max-width: 320px) {
    .nav__form {
        max-width: 180px;
    }
}